/* General */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    font-family: 'Roboto';
    color: black;
    background-color: #ebebeb;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 16px;
    font-weight: 600;
}

li {
    list-style: none;
}

img {
    width: 100%;
  }

/* HEADER */

header{
    background-color: #EAC926;
}

.header__logo{
    width: 50%;    
    padding: 15px 0 0 15px;
}

.header__parrafo {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

.header__navbar{
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    color: black;
}

.logo_search {
    display: flex;
    align-items: center;
}

.header__barra{
    background-color: #1259c3;
    display: flex;
    width: 20px;
    height: 20px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

/* MAIN */

.main{
    background-color: #ebebeb;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    width: 90%;
}

main section{
    display: flex;
    justify-content: center;
}

main article{
    width: 300px;
    margin: 20px;
}

.main h2{
    color: #666;
    font-weight: 900px;
    padding: 10px;
    text-align: initial;
    font-size: 24px;
}

.main h3{
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

.main p, h3{
    text-align: initial;
}

.descuento, .main i{
    color: #39b54a;
    font-weight: 700;
    margin: 5px;
}

.precio {
    display: inline-block;
    width: 25%;
    font-weight: bold;
}

.descuento {
    display: inline-block;
    width: 75%;
}

.precioDescuento {
    display: flex;
    justify-content: start;
    align-items: center;
}

.articles__items{
    border-top: solid 1px #ebebeb;
    position: relative;
    background-color: white;
    padding: 15px;
    bottom: 10px;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}






/* Footer */

.footer{
    text-align: center;   
    background-color: white; 
}

.footer h3{
    font-size: 18px;
    margin: 10px;
    text-align: center;
}
.footer i{
    color: #1259c3;
    font-size: 50px;
    margin: 10px;
}

.footer p{
    padding-bottom: 5px;
    text-align: center;
}


/* Media queries */

/* Mobile */

@media (max-width: 360px){

.product__description{
    display: none;
}

article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: white;
}

.header__navbar{
    display: none;
}

.header__searchbutton{
    display: flex;
    width: 50%;
    padding: 10px;
    align-items: center;
    border: transparent;
    margin-top: 10px;
    
}

.button_search {
    font-size: 22px;
    color: #666;
    border-color: transparent;
    border-radius: 5px;
    background-color: white;
}

header form input {
    width: 75%;
    height: 30px;
    border: transparent;
    border-radius: 5px;
}

}

/* Tablets */

@media (min-width: 361px){

.header__barra{
    display: none;
}

.header_top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 15px;
}

.header__logo {
    padding-right: 40px;
}

.header__searchbutton {
    width: 60%;
    margin: 0;
    display: inline-flex;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    gap: 30px;
    margin: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: white;
}

.main__articles__uv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.main__articles__ofertas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

}

/* Desktop */

@media (min-width: 769px) {



.logo_search{
    width: 60%;
    margin: 0;
    display: inline-flex;
    align-content: initial;
    justify-content: space-around;
}


.main__articles__uv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.main__articles__ofertas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

main article{
    width: 350px;
    margin: 20px;
}


}
